body {
	background-color: #02010a;
	margin: 30px 100px 30px 100px;
	font-family: 'Dancing Script', cursive;
}


.cabecera{
	background-color: #5b7989;
	height: 100px;
	width: auto;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#menu {
	display: flex;
	justify-content: flex-end;
}
#central {
	background-color: #82c3a6;
}
#secundario{
	background-color: #d5c75f;
}
footer {
	background-color:  #C6d5c5;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

h1 {
	color:  #fff;
	text-shadow: 2px 2px #02010a;
	padding-top: 2px;
	padding-bottom: 0;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li a{
	display: block;
	padding: 0px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

#central img {
	width: auto;
	height: 300px;
	display: block;
	margin: auto;
}

#secundario img{
	width: 500px;
	height: 300px;
}

#secundario {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

#secundario > div{
	width: 50%;
	padding: 20px;
}

#secundario > div:first-child {
	margin-right: 50px;
}

#pie {
	column-count: 4;
	column-gap: 10px;
	list-style: none;
}

.contenido2 img{
	width: 320px;
	height: 150px;
	display: block;
	margin: 12px;
	float: left;
}

.contenido2 {
	background-color: #d5c75f;
	height: 350px;

}

.contenido3 img{
	width: 320px;
	height: 150px;
	display: block;
	margin: 12px;
	float: left;
}

.contenido3 {
	background-color: #d5c75f;
	height: 350px;

}

#img1:hover {
	-webkit-transition:1.5s;
	-webkit-transform: rotate(10deg);
}

#img2:hover{
	-webkit-transition:1.5s;
	-webkit-transform: translate(20px);
}

#imagen1 img{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

#imagen2 img{
	-webkit-filter: grayscale(100%);
	filter:grayscale(100%);
}

#imagen4 img{
	-webkit-filter: grayscale(100%);
	filter:grayscale(100%);
}

#imagen6 img{
	-webkit-filter: grayscale(100%);
	filter:grayscale(100%);
} 

#imagen3 img{
	-webkit-filter: sepia(90%);
	filter:sepia(90%);
}

header {
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
	from{
		margin-top: 150%;
	}
	to{
		margin-top: -5%;
	}
}
